type                 = "deprovision"
name                 = "{{ .nuon.install.id }}-deprovision"
description          = "{{ .nuon.install.id }} deprovision role for the Uptime install"
display_name         = "{{ .nuon.install.id }}-deprovision"
permissions_boundary = "./deprovision_boundary.json"

[[policies]]
managed_policy_name = "AdministratorAccess"
