#:schema https://api.nuon.co/v1/general/config-schema?type=terraform
name              = "s3"
type              = "terraform_module"
terraform_version = "1.11.4"

[public_repo]
repo      = "nuonco/uptime-monitor"
directory = "nuon/uptime-monitor/components/1-s3"
branch    = "main"

[vars]
region                = "{{ .nuon.install_stack.outputs.region }}"
install_id            = "{{ .nuon.install.id }}"
