#:schema https://api.nuon.co/v1/general/config-schema?type=kubernetes_manifests
name      = "api"
type      = "kubernetes_manifest"
dependencies = ["api_image", "rds", "s3"]
namespace = "uptime-monitor"
manifest = "./2-api/manifest.yaml"
