#:schema https://api.nuon.co/v1/general/config-schema?type=helm
name       = "headlamp"
type       = "helm_chart"
chart_name = "headlamp"
namespace  = "headlamp"

[public_repo]
repo = "kubernetes-sigs/headlamp"
directory = "charts/headlamp"
branch = "main"

[values]
"replicaCount"                  = "1"
"ingress.enabled"               = "false"
"config.oidc.secret.create"     = "false"
"config.oidc.externalSecret.enabled" = "false"
