#:schema https://api.nuon.co/v1/general/config-schema?type=action
name    = "headlamp_token"
timeout = "1m"

[[triggers]]
type           = "post-deploy-component"
component_name = "headlamp"

[[triggers]]
type = "manual"

[[steps]]
name = "create"
inline_contents = """
#!/usr/bin/env bash
set -euo pipefail

echo "[headlamp-token] generating token"
TOKEN=$(kubectl create token headlamp -n "$NAMESPACE" --duration=8760h)
printf '{"token": "%s"}' "$TOKEN" >> $NUON_ACTIONS_OUTPUT_FILEPATH
echo "[headlamp-token] done"
"""

[steps.env_vars]
NAMESPACE = "default"
