#:schema https://api.nuon.co/v1/general/config-schema?type=action
name    = "ts_operator_creds"
timeout = "2m"

[[triggers]]
type           = "pre-deploy-component"
component_name = "tailscale_operator"

[[triggers]]
type = "manual"

[[steps]]
name    = "Copying Secrets for Tailscale Operator"
inline_contents = """
#!/usr/bin/env sh

kubectl create namespace tailscale --dry-run=client -o yaml | kubectl apply -f -

oauth_client_id=`kubectl get -n tailscale secret tailscale-oauth-client-id -o json | jq -r '.data.value' | base64 -d`
oauth_client_secret=`kubectl get -n tailscale secret tailscale-oauth-client-secret -o json | jq -r '.data.value' | base64 -d`
kubectl create -n tailscale secret generic operator-oauth \
  --save-config    \
  --dry-run=client \
  --from-literal=client_id="$oauth_client_id" \
  --from-literal=client_secret="$oauth_client_secret" \
  -o yaml | kubectl apply -f -
"""
